ASRS.parquet.gzip/Year=2000/453cd1614b674685b0bc0d4c76d478c3.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2001/547e16c5973a4a0682f1ac1c26c4b681.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2002/770de64217464e6289518b42c426d07b.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2003/9c93266ae0a3490ab4636ce883bd3800.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2004/b9d1217013ac4136bc37fc297e5fb91f.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2005/b73bf81cd08e4613809b9b71428c4ffb.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2006/dddc97b29bda491381752011e955561f.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2007/fecb7aef63bc41978b30a65c78d4acdb.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2008/ad3b458873794e67bd174f61695acee5.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2009/3d08840ad63f4a01852affb28a0d86ce.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2010/3fd0190a44904ec9a212425531018d3c.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2011/4ae58ed5a3c449ac9b0c47ebb73f3cc1.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2012/0a5522904e964d7685c43a7ee54883d7.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2013/a1dfe23412d84c20afa001e2c8f9e1d8.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2014/25338934b35f4b02b56be0b003b3efb0.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2015/1a2098648775411db4f76768047a8e3a.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2016/b5c4109357bb43bf8fac3c406d2cc1f0.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2017/e9692679419f42eeb59c130f2b4c82e8.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2018/2081f0a64ead4263a191eb549491f1a1.parquet filter=lfs diff=lfs merge=lfs -text
ASRS.parquet.gzip/Year=2019/ad0b2817030d47378f83663eea136da0.parquet filter=lfs diff=lfs merge=lfs -text
